* {
  box-sizing: border-box;
}

/* Start Our Framework */
.container {
  max-width: 90%;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

.clearfix {
  clear: both;
}

.table {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-row {
  display: table-row;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(49, 55, 61, 0.9);
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.main-color {
  color: #f7600e;
}

.main-background-color {
  background-color: #f7600e;
}
/* End Our Framework */

/* Start Globle */
body {
  font-family: "Open Sans", sans-serif;
  display: none;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
}
/* End Globle */

/* Start Menu Box */
.menu-box {
  padding-top: 140px;
  background-color: rgba(69, 77, 85, 0.9);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
}

.menu-box .fa-close {
  position: absolute;
  top: -100px;
  right: 50px;
  font-weight: normal;
  font-size: 25px;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .menu-box .fa-close {
    top: -100px;
    right: 10%;
  }
}

.menu-box .fa-close:hover {
  color: #f7600e;
}

.menu-box ul li {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 35px;
  transition: all 0.5s ease-in-out;
}

.menu-box ul li:hover {
  color: #f7600e;
}
/* End Menu Box */

/* Start Header */
.header {
  background-image: url("../images/macbook-925614.jpg");
  background-size: cover;
  color: #fff;
  position: relative;
}

.header .navbar {
  overflow: hidden;
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header .navbar .logo {
  font-size: 24px;
}

.header .navbar .links {
  float: right;
}

.header .navbar .links i {
  margin-left: 5px;
}

.header .navbar .intro h1 {
  margin: 0;
  font-weight: 800;
  font-size: 50px;
}

.header .navbar .intro p {
  margin: 5px 0 40px;
  line-height: 1.9;
  font-size: 20px;
  color: #e2e2e2;
}

.header .buttons button {
  background: transparent;
  padding: 10px 0;
  width: 180px;
  font-size: 14px;
  border: 1px solid #909090;
  margin: 0 8px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  color: #fff;
}

.header .buttons button:hover {
  background-color: #f7600e;
  border: 1px solid #f7600e;
  color: #fff;
}

.header .arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 50px 0;
}

.header .arrow i {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}
/* End Header */

/* Start Features */
.features {
  padding: 80px 0;
  overflow: hidden;
}

.features .box {
  width: 22%;
  float: left;
  margin-right: 4%;
}

@media (max-width: 768px) {
  .features .box {
    width: 100%;
    margin-right: 0;
  }
}

.features .box:last-child {
  margin-right: 0;
}

.features .box i {
  border: 1px solid #d8d9db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  transition: all 0.5s ease-in-out;
}

.features .box i:hover {
  background-color: #f7600e;
  color: #fff;
  border: 1px solid #f7600e;
}

.features .box h3 {
  font-weight: normal;
  color: #333;
}

.features .box p {
  line-height: 1.7;
  color: #666;
}
/* End Features */

/* Start Subscribe */
.subscribe {
  background-image: url("../images/tablet-791051.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
}

.subscribe form {
  padding: 100px 0;
  margin: auto;
}

.subscribe form input {
  width: 562px;
  font-size: 20px;
  height: 50px;
  border-radius: 10px;
  padding-left: 15px;
}

@media (max-width: 768px) {
  .subscribe form input {
    width: 100%;
  }
}

.subscribe form button {
  padding: 10px;
  width: 269px;
  border: none;
  color: #fff;
  border-radius: 10px;
  margin-left: 30px;
  height: 50px;
}

@media (max-width: 768px) {
  .subscribe form button {
    margin-top: 20px;
  }
}

/* End Subscribe */

/* Start Our Work */
.our-work {
  padding: 50px 0;
}

.our-work h2 {
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 0;
}

.our-work h2 ~ p {
  line-height: 2;
  margin: 10px 0 40px;
}

.our-work .show-more {
  width: 100px;
  font-size: 16px;
  width: 200px;
  padding: 15px 0;
  background-color: transparent;
  color: #3b434c;
  border: 1px solid #d8d9db;
  border-radius: 10px;
  margin-top: 100px;
  transition: all 0.5s ease-in-out;
}

.our-work .show-more:hover {
  color: #fff;
  background-color: #f7600e;
  border: 1px solid #f7600e;
}

.our-work .item {
  float: left;
  width: 30%;
  height: 360px;
  margin-left: 1.333333%;
  margin-bottom: 15px;
  border-radius: 10px;
  position: relative;
}

@media (max-width: 768px) {
  .our-work .item {
    width: 100%;
    margin-left: 0;
    margin-bottom: 15px;
  }
}

.our-work .item .over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(247, 96, 14, 0.7);
  color: #fff;
  border-radius: 10px;
  opacity: 0;
  transition: 0.5s;
}

.our-work .item:hover .over {
  opacity: 1;
}

.our-work .item .over h4 {
  font-size: 24px;
  margin-top: 80px;
  margin-bottom: 0;
}

.our-work .item .over p {
  margin-top: 10px;
  margin-bottom: 50px;
  line-height: 2;
}

.our-work .item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.our-work .item .over button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  width: 180px;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.our-work .item .over button:hover {
  background-color: #fff;
  color: #f7600e;
}
/* Ene Our Work */

/* Start Testimonoals */
.testim {
  background-image: url("../images/woman-690036.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.testim .client {
  padding: 50px 0;
  color: #fff;
  font-size: 20px;
}

.testim .client img {
  border-radius: 50%;
}

.testim .client p {
  line-height: 2;
  font-style: italic;
}

.testim .fa-chevron-left,
.testim .fa-chevron-right {
  position: absolute;
  top: 50%;
  color: #7b7b7b;
  transition: all 0.5s ease-in-out;
}

.testim .fa-chevron-left {
  left: 0%;
}

.testim .fa-chevron-right {
  right: 0%;
}

.testim .fa-chevron-left:hover,
.testim .fa-chevron-right:hover {
  color: #f7600e;
}
/* End Testimonoals */

/* Start Our Team */
.our-team {
  padding: 50px 0;
}

.our-team h2 {
  font-size: 35px;
  margin-bottom: 0;
  font-weight: normal;
}

.our-team P {
  margin: 10px 0 40px;
  line-height: 2;
  color: #666;
  font-size: 20px;
}

.our-team .the-team .person {
  float: left;
  width: 24%;
  margin-left: 1%;
  color: #888;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .our-team .the-team .person {
    width: 100%;
    margin-left: 0%;
  }
}

.our-team .the-team .person:hover img {
  filter: none;
  transform: translatey(-20px);
  border-bottom: 5c px solid #f7600e;
}

.our-team .the-team .person:hover h4 {
  color: #555;
}

.our-team .the-team .person img {
  width: 265px;
  height: 290px;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  transition: all 0.5s ease-in-out;
}

.our-team .the-team .person h4 {
  font-size: 25px;
  font-weight: normal;
}

.our-team .the-team .person p {
  font-size: 14px;
  margin-top: 10px;
}

.our-team .the-team .person:hover p {
  color: #333;
}

.our-team .the-team .person .social-icons i {
  width: 30px;
  height: 30px;
  background-color: #9da1a5;
  line-height: 30px;
  border-radius: 50%;
  color: #fff;
}

.our-team .the-team .person:hover .social-icons .fa-facebook {
  background-color: #3b5998;
}

.our-team .the-team .person:hover .social-icons .fa-twitter {
  background-color: #1da1f2;
}

.our-team .the-team .person:hover .social-icons .fa-google-plus {
  background-color: #dd4b39;
}
/* End Our Team */

/* Start Contact Form */
.contact {
  background-image: url("../images/city-937541.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.contact .overlay {
  padding: 50px 0;
  color: #fff;
}

.contact h2 {
  font-size: 35px;
  font-weight: normal;
}

.contact form {
  width: 930px;
  margin: auto;
  text-align: center;
}

@media (max-width: 768px) {
  .contact form {
    width: 100%;
    margin: auto;
    text-align: center;
  }
}

.contact form input[type="text"],
.contact form input[type="email"] {
  width: 400px;
  height: 50px;
  margin-left: 30px;
  border-radius: 10px;
  padding-left: 20px;
  color: #afb2b4;
}

@media (max-width: 768px) {
  .contact form input[type="text"],
  .contact form input[type="email"] {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
}

.contact form textarea {
  margin: 30px 0 30px 40px;
  width: 855px;
  height: 200px;
  display: block;
  padding: 20px 0 0 20px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .contact form textarea {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.contact form button {
  display: block;
  margin: 0 0 130px 42px;
  border-radius: 10px;
  color: #fff;
  width: 210px;
  height: 50px;
  background-color: #f7600e;
  border: none;
  float: left;
}

@media (max-width: 768px) {
  .contact form button {
    margin-left: 0;
    margin-right: 0;
    padding-right: 20px;
    width: 100%;
  }
}

.contact form .form-icons {
  float: right;
  margin-right: 5px;
}

.contact form .form-icons i {
  width: 30px;
  height: 30px;
  line-height: 43px;
  border-radius: 50%;
  color: #fff;
  margin: 10px;
  width: 43px;
  height: 43px;
}

.contact form .form-icons .fa-facebook {
  background-color: #3b5998;
}

.contact form .form-icons .fa-twitter {
  background-color: #1da1f2;
}

.contact form .form-icons .fa-google-plus {
  background-color: #dd4b39;
}
/* End Contact Form */

/* Start Footer */
.footer {
  background-color: #3b434c;
  padding: 30px 0;
  color: #e3e4e5;
  overflow: hidden;
}

.footer .copyright {
  float: left;
}

.footer .design {
  float: right;
}
.footer .logo {
  float: right;
  margin: 2px 0 0 8px;
}
/* End Footer */
